@import 'wallust/colors-waybar.css';

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

window {
  background-color: @color0;
  margin: 0 5px;
}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray,
#window,
#workspaces button {
  background-color: @color0;
  color: @foreground;
  margin-top: 5px;
  margin-bottom: 5px;
}

#window {
  padding: 0 6px;
}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray {
  border: 2px solid @color4;
  border-radius: 5px;
  padding: 0 6px;
}

/* Adjust padding for tray specifically */
#tray {
  padding: 0 4px;
}

#workspaces button {
  padding: 0 2px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  min-width: 22px;
  transition: all 0.1s ease;
}

#workspaces button.active {
  border-bottom: 2px solid @color4;
}

#workspaces button.urgent {
  background-color: @color1;
  border: 2px solid @color1;
  color: @foreground;
}

#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover,
#clock:hover {
  background-color: shade(@color0, 1.2);
}

#battery.warning {
  color: @color11;
  border: 2px solid @color11;
}

#battery.critical {
  color: @foreground;
  border: 2px solid @color1;
  background-color: @color1;
}

#network.disconnected {
  color: @foreground;
  border: 2px solid @color1;
  background-color: alpha(@color1, 0.3);
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}
