@import 'wallust/colors-waybar.css';

window {
  background-color: #15161E;
  border-radius: 0px;
  margin: 0 5px;
}

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray,
#window {
  background-color: #15161E;
  padding: 0px 6px;
  color: @foreground;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#workspaces button {
  background-color: #15161E;
  padding: 2px 4px 2px 4px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #15161E;
  color: @foreground;
}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray,
#workspaces button {}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray {
  border: 2px solid @color4;
}

#workspaces button.active {
  border-bottom: 2px solid @color4;
  border-top: 2px solid #15161E;
  border-left: 2px solid #15161E;
  border-right: 2px solid #15161E;
}

#workspaces button.focused {
  border: 2px solid #15161E;
}

#workspaces button.urgent {
  background-color: @color1;
  border: 2px solid @color1;
  color: @foreground;
}

#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover,
#clock:hover {
  background-color: @color0;
  border: 2px solid @color4;
}

#battery.warning {
  color: @color11;
  border: 2px solid @color11;
}

#battery.critical {
  color: @color1;
  border: 2px solid @color1;
  background-color: @color1;
}

#network.disconnected {
  color: @color1;
  border: 2px solid @color1;
}

#tray {
  padding: 0px 4px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}
