/*@import '.config/wofi/colors-wofi.css';*/
@import '/home/user/.config/wofi/colors-wofi.css';
* {
	border-radius: 3px;
	border: none;
}
window {
	font-size: 16px;
  background-color: @color0;
  color: @foreground;

}

#entry{
	padding: 0.25em;
}

#entry:selected {
  /*background-color: @color4;*/
  border: 2px solid @color5;
  background-color: rgba(0,0,0,0); 
}

#text:selected {
  color: @foreground;
}

#input{
	padding: 0.25em;
  color: @foreground;
  background-color: @color0;
}

image{
	margin-left: .25em;
	margin-right: .25em;
}
